@charset "utf-8";
/*************************
  © EtHow.com
  All rights reserved
*************************/
body {
	background: #fff;
	color: #000;
        font-family: Arial,Helvetica,sans-serif;
}
a {
	color: #900;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #F90;
}